<footer class="page-footer font-small blue bg-dark mt-2 text-white">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
        <a href="https://mdbootstrap.com/" class="text-white"> tweet_it.com</a>
    </div>
    <!-- Copyright -->

</footer>
</body>
</head>