{{>header}}
<section id="hero">
    <div class="row">
        <div class="col-md-3 d-md-block d-none" id="leftSidebar">
            <h1>left Sidebar</h1>
        </div>
        <div class="col-md-6" id="homepage">
            <h2>Homepage</h2>
        </div>
        <div class="col-md-3 d-none d-md-block" id="rightSidebar">
            <h1>Right Sidebar</h1>
        </div>
    </div>
</section>
{{>footer}}