{{>header}}
<div class="container w-50 mx-w-100">
    <h1 class="display-4 text-center">Sign Up</h1>
    <form class="mt-2" action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="username" name='username'>

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                name="password">
            <small id="passwordHelp" class="form-text text-muted">Tweet it never calls to ask password.</small>
        </div>
        {{!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> --}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
{{>footer}}